# Archivos de configuración locales y credenciales sensibles
.env
.env.local
.env.*.local
.env.test
.env.prod
*.pem

# Dependencias instaladas por npm o yarn
node_modules/

# Archivos generados por TypeScript, Babel, o compiladores similares
/dist/
/build/

# Archivos de registro y archivos temporales
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de respaldo de editores de texto
*~
*.swp
*.bak

# Archivos generados automáticamente
.DS_Store
Thumbs.db

# Archivos de caché o carpeta de compilación
.cache/
*.cache
*.log
*.pid
*.seed
*.pid.lock
*.log.*
.pnp.*
*.log
